* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('/img/background.png');
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none !important;
}


/* Button */
.myButton {
	-moz-box-shadow: 1px 2px 2px 0px #979e95;
	-webkit-box-shadow: 1px 2px 2px 0px #979e95;
	box-shadow: 1px 1px 1px 0px #979e95, inset 0 0 0 0.5px #fff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c3ebff), color-stop(1, #5c97df));
	background:-moz-linear-gradient(top, #c3ebff 5%, #5c97df 100%);
	background:-webkit-linear-gradient(top, #c3ebff 5%, #5c97df 100%);
	background:-o-linear-gradient(top, #c3ebff 5%, #5c97df 100%);
	background:-ms-linear-gradient(top, #c3ebff 5%, #5c97df 100%);
	background:linear-gradient(to bottom, #c3ebff 5%, #5c97df 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3ebff', endColorstr='#5c97df',GradientType=0);
	background-color:#c3ebff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#37567f;
	padding:0.5rem;
  text-shadow:0px 1px 0px #a3d9fb;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5c97df), color-stop(1, #c3ebff));
	background:-moz-linear-gradient(top, #5c97df 5%, #c3ebff 100%);
	background:-webkit-linear-gradient(top, #5c97df 5%, #c3ebff 100%);
	background:-o-linear-gradient(top, #5c97df 5%, #c3ebff 100%);
	background:-ms-linear-gradient(top, #5c97df 5%, #c3ebff 100%);
	background:linear-gradient(to bottom, #5c97df 5%, #c3ebff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c97df', endColorstr='#c3ebff',GradientType=0);
	background-color:#5c97df;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Shadow */
.logo {
  position: relative;
}

.logo:after {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 80%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0px 20px 8px black;
  opacity: 0.1;
}

.myButton {
  position: relative;
}

.myButton:after {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 80%;
  height: 25%;
  border-radius: 50%;
  box-shadow: 0px 20px 10px black;
  opacity: 0.2;
}

.myButton:hover:after {
  opacity: 0.3;
}

/* Saying */
.saying {
  position: relative;
  background: #f1f1f1;
  background: linear-gradient(90deg,#f1f1f1 0%, #eaeaea 100%);
  background: -webkit-linear-gradient(90deg,#f1f1f1 0%, #eaeaea 100%);
  background: -moz-linear-gradient(90deg,#f1f1f1 0%, #eaeaea 100%);
  opacity: 1;

  box-shadow: 1px 1px 0px 0px rgba(220,220,220,1) inset;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(220,220,220,1) inset;
  -moz-box-shadow: 1px 1px 0px 0px rgba(220,220,220,1) inset;

  border-left: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.saying::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  right: 2rem;
  width: 0;
  height: 0;
  border-top: 1.5rem solid #f1f1f1;
  border-right: 1.5rem solid transparent;

  box-shadow: 5px 5px 0px 0px rgba(220,220,220,1) inset;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(220,220,220,1) inset;
  -moz-box-shadow: 1px 1px 0px 0px rgba(220,220,220,1) inset;
  box-shadow: -1px 0px 0px #dcdcdc, -2px 0px 0px #c2c2c2;
}

.saying::before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  right: 1.9rem;
  width: 0;
  height: 0;
  border-top: 1.5rem solid #ffffff;
  border-right: 1.5rem solid transparent;
}


/* Social Networks */

.icon-24 {
  width: 24px;
  height: 24px;
}

.social-networks div {
  /* margin: 0 0.2rem; */
}

.skype {
  background: url('/img/skype.png') no-repeat;
}
.skype:hover {
  background: url('/img/skype-hover.png') no-repeat;
}

.linkedin {
  background: url('/img/linkedin.png') no-repeat;
}
.linkedin:hover {
  background: url('/img/linkedin-hover.png') no-repeat;
}

.facebook {
  background: url('/img/facebook.png') no-repeat;
}
.facebook:hover {
  background: url('/img/facebook-hover.png') no-repeat;
}

.digg {
  background: url('/img/digg.png') no-repeat;
}
.digg:hover {
  background: url('/img/digg-hover.png') no-repeat;
}

.deviantart {
  background: url('/img/deviantart.png') no-repeat;
}
.deviantart:hover {
  background: url('/img/deviantart-hover.png') no-repeat;
}

.twitter {
  background: url('/img/twitter.png') no-repeat;
}
.twitter:hover {
  background: url('/img/twitter-hover.png') no-repeat;
}


/* Vertical Devide List */
.vertical-divide-list li {
  list-style: none;
  border-right: 1px solid #333;
  line-height: 1rem;
  padding: 0 0.6rem;
  margin: 0;
}

.vertical-divide-list li:first-child {
  padding-left: 0;
}

.vertical-divide-list li:last-child {
  border-right: none;
  padding-right: 0;
}


/* Guide arrows */
.guide-arrow-1 {
  position: absolute;
  top: 20%;
  right: -90%;
  display: flex;
  align-items: flex-start;
}

.guide-arrow-2 {
  position: absolute;
  top: -50%;
  left: -80%;
  display: flex;
  align-items: flex-end;
}


@media (max-width: 1200px) {
  .guide-arrow-1,
  .guide-arrow-2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
}


@media (max-width: 500px) {
  .logo:after {
    display: none;
  }

  .myButton:after {
    display: none;
  }
}